/*---====== Google Font =======---*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rajdhani:wght@400;500&family=Rubik:wght@300&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}
header,
section{
    overflow: hidden;
}
:root{
    --Sniglet-font:"Sniglet", cursive;
    --Rajdhani-font:"Rajdhani";
    --Rubik:"Rubik", cursive;
    --Patua:"Patua One", cursive;
    --Lobstar:"Lobster", cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to top,#dd2476,#ff512f);
    --ligth-gray:rgba(255,255,255,0);
}     /*---====== End Google Font  Variables =======---*/

/*---====== Header Section =======---*/
header a{
    font-family: var(--Rajdhani-font);
    font-size: 0.9rem;
    color: whitesmoke;
    font-weight: 500;
}
header{
    background: #dd2476;
    background: var(--bggradient);
}
.navbar-brand{
    font-weight: bold;
}
.drowpdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0.2);
    z-index: 1;
}
.drowpdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drowpdown-content a:hover{
    background: #ddd;
}
.drowpdown:hover .drowpdown-content{
    display: block;
}
header .nav-item:last-child{
    padding-right: 10.5em;
}
header .nav-item{
    padding: 0.9em;
}
header .navbar-brand{
    padding-left: 8rem;
}
header .nav-link:hover{
    color: black;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
header .row .col-md-5{
    padding-left: 4.2vmin 1vmin;
}
header .row .col-md-5 img{
    width: 50%;
    padding-top: 4rem;
}
header .row .col-md-7{
    padding-left: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;
}
header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}
header .container .col-md-7 h1{
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;

}
header .container .col-md-7 p{
    padding:1vmin 5vmin;
}
header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;

}/*---==<><><><> End of Header Section <><><><>=---*/

/*--==>>> START OF SSECTION - 1 ==>>>--*/
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 70%;
    border-radius: 0.2em;
    padding-top: 2rem;
}
.section-1 .row .col-md-6:last-child{
    padding-top: 2rem;
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position: relative;
    top: 7vmin;
    left: -28vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgb(0,0,0,0.2);
    font-family: var(--Rubik);
    z-index: 1;
}
.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}/*---==== END OF SSECTION - 1 =======---*/

/*---==>> START OF SSECTION - 2 >>==---*/
.cover{
    width: 100%;
    height: 55vmin;
    background: url(../img/subscribe-bg.jpg);
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}
.cover .content{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}
.cover .content >h1{
    font-family: var(--Patua);
    font-size: 6vmin;
    color: white;
}.cover .content >P{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;    
}
/*-=== We are creating a panel section with css ==-*/
.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius:.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}
.numbers{ /*-=>> We want to place our 4 panels on top of the img cover's  ==-*/
    margin-top: -15vmin;
      padding: 1rem;
}
.numbers .rect h1{
    font-size: 5rem;
    color: tomato;
    
}
.numbers .rect p{
    font-family: var(--Patua);
}
/*--==>> Purchase Area ==>>--*/
.purchase >h1{
    padding-top: 15vmin;
    padding-bottom: 0,1em;
    font-family: var(--Rajdhani-font);
    font-weight: 600;
}
.purchase >p{
     color: var(--light-black);
     font-size: 3vmin;
     padding-bottom: 10vmin;
}
.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}
.cards div{
    padding: 0;
    margin: 0;
}
.cards .title{
    background: rgba(134, 247, 247, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}
.cards .card-text{
    padding: 2.5rem 3rem;
}
.card-body .pricing{
    background: rgba(134, 247, 247, 0.199);
    border-top-right-radius: 170px ;
    border-top-left-radius: 170px ;
}
.card-body .pricing >h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}/*--==<><><> END OF SSECTION - 2 <><><>==--*/

/*---==>> START OF SSECTION - 3 >>==---*/
.section-3{
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}
.section-3 .col-md-12 >h1{
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
    font-family: var(--Rajdhani-font);
}
.section-3 .col-md-12 >p{
    padding: 0.4em;
    padding-bottom: 2em;
    color:whitesmoke;
    font-size: 3vmin;  
}
.section-3 .desktop{
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}
.section-3 .desktop h3{
   font-size: 4vmin;
}
.section-3 .desktop p{
   font-size: 2vmin;
}/*--==<><><> END OF SECTION - 3 <><>==--*/

/*---==>> START OF SECTION - 4 >>==---*/
.section-4 .container h1{
    font: size 6vmin; 
    padding-top: 14vmin;
}
.section-4 .team{
    padding: 10vmin 4vmin;
}
.section-4 .card{
    width: 20rem;
    margin-top: 10vmin;
}
.section-4 .card .card-text{
    padding: 0.5em;
}
.section-4 .card .card-body >a{
   font-size: 1.5em;
}
.section-4 .crousel-item{
    padding-left: 3rem;
}
.border-radius{
    border-radius: 300px;
    width: 60%;
}/*--==<><><> END OF SECTION - 4 <><><>==--*/

/*---==>> START OF FOOTER SECTION >>==---*/
footer{
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
footer p >span{
    color: #ff512f;
}
footer input{
    border: none !important;
}
footer input::placeholder{
    color: white !important;
}
footer .input-group .input-group-text{
    background: var(--);
    border: none;
}
footer .column i{
    color: #dd2476;
}
footer .column i + i{
    padding: 0 0.5em;
}/*--==<><><> END OF FOOTER SECTION <><><>==--*/


/* Navbar Sticky Class*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 999;
    transition: all 1.5s ease;
}


